<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        style.
            main {
                padding: 100px;
            }
            h1 {
                font-size: 40px;
            }
    body
        main
            h1 Server Error