.grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &:hover {
        cursor: pointer;
    }
}

.grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 2px;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-rows-2 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}