.modal {
    position: absolute;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    outline: none;
    overflow: hidden;
    @apply rounded-lg shadow-xl;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0,0,0, .3);
  }

.ril-next-button,
.ril-prev-button {
    border-radius: 15px;
}

.ril-toolbar {
    background: transparent;
}